body {
    background-color: #f0eaea;
}

.sidebar{
    height: 91.5vh;
    font-size: 14px;
    position:fixed;
}

.nav-link:hover{
    background-color: grey;
}

.navbar {
    background-color: #00a65a;
}

article {
    width:auto;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    background-color: #fff;
    padding-top:30px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 30px;
    border-top: 3px solid #d2d6de;
    
}

.paragraf{
    margin-left:20px;
    margin-top:20px;
}

.konten{
    margin-left:230px;
}

.btn-hapus{
    margin-left:5px;
}